*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
                            /* All */                              
                            /*Header*/                             
header, footer {
    padding: 10px 0 10px 0;
    color: #D952FF;
    background: linear-gradient(165deg, #818181, #A8A7A7, #C0C0C0);
    text-align: center;
    font-size: .9em;
}
#navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    list-style: none;
}
.logo {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    padding: 0 0 5px 0;
}
.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
#navLinks a:hover {
    color: #F96790;
    text-decoration: underline;
}
#navLinks a{
    text-decoration: none;
}
.active{ 
    color: #007bff; 
    text-decoration: underline !important;
}







                            /*Body*/                             
main{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #7594FF, #3141C3, #BD77B8);
}
body{
    background: linear-gradient(120deg, #7594FF, #3141C3, #BD77B8)
}





                        /* Footer styles */                      
footer > p{
    margin: 5px;
    font-size: .9rem;
    color: #742FFF;
}

footer div i{
    font-size: 1.5rem;
}

#links{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

#git{
    color: #2A2A2A;
}
#insta{
    color: #A82CFF;
}
#linkedin{
    color: #2252D3;
}





                        /* Responsive styles */                   

@media (max-width: 768px) {
    .menu-toggle{
        display: block;
    }
    #navLinks{
        display: flex;
        flex-direction: column; 
        font-size: 1.1em;
        gap: 10px;
        opacity: 0;
        max-height: 0;
        transition: all 0.2s ease-in-out;
    }
    #navLinks.show{
        opacity: 1;
        max-height: 450px;
    }
    #navContainer{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
    }
}





                        /*index.html*/                           
#hero{
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(135deg, #DEAAF9, #4F6DFF);
}
#hero h1, #hero p{
    animation: fadeIn 1s ease-in-out;
}
#hero h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}
#hero p{
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #434343;
}
@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.btn{
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: #0056b3;
}
.info{
  padding: 40px 20px;
  text-align: center;
  margin-top: 30px;
}
.info h1{
  font-size: 2em;
  margin-bottom: 10px;
}
.info p{
  font-size: 1.1em;
  color: #2E2E2E;
  margin-bottom: 15px;
}



                        /* me.html styles */                       

.profile-pic{
    height: 150px;
    margin: 10px 20px;
}
.meContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.meText{
  flex: 1;
  min-width: 250px;
  max-width: 600px;
  text-align: left;
}
.meText p{
    font-size: 1.8rem;
    margin: 10px 0 20px 0;
}
#meH1{
  font-family: monospace;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  animation: type 3s steps(15) forwards, 
  blink 0.5s step-end infinite;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
@keyframes type{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink{
  0%, 100%{ 
      border-color: black;
  }
  50%{ 
      border-color: transparent;
  }
}

.meText ul{
    list-style: none;
    margin: 10px 0 20px 0;
}
.meText li{
    font-size: 1.2rem;
}
.meText ul li i{
    color: #FD4D4D;
}


@media screen and (max-width: 600px) {
  .meContainer {
    flex-direction: row;
    text-align: center;
  }
  .meText{
    text-align: center;
  }
  .meText p{
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
  }
}





                        /* skills.html styles */                   

.skillsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.skillBlock{
    font-size: 1.2rem;
    }
.skillBlock h2 i{
    color: #FD4D4D;
}
.skillBlock h2{
    animation: fadeIn .8s ease-in-out;
    margin: 30px 0 20px 0;
}


@media screen and (max-width: 600px) {
  .skillsContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .skillBlock{
    text-align: center;
  }
  .skillBlock li{
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
    list-style: none;
  }
}


                        /* projects.html styles */                 
